@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
}

:root {
	--prim-clr: #0065fc;
	--sec-clr: #deebff;
	--prim-light: #f2f2f2;
}

.container {
	margin: auto;
	max-width: 1440px;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

/*   NAVBAR  */

ul,
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 103px;
}

.navBar ul {
	display: flex;
	width: 298px;
	justify-content: space-evenly;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.navBar li {
	display: flex;
	align-items: center;
	cursor: pointer;
	flex-grow: 1;
}

.navBar a {
	border-top: 2px solid transparent;
	transition: all 300ms linear;
	height: 103px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.navBar a:hover {
	border-top: 2px solid var(--prim-clr);
}

.navBar img {
	width: 61px;
}

h1 {
	font-size: 18px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

header p {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

/*    FORM    */
.locationForm {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.locationForm .form-control {
	display: flex;
	margin-top: 1em;
	margin-bottom: 1em;
}
.locationForm .form-control i {
	padding: 1.157em;
	background-color: var(--prim-light);
	border-radius: 15px 0 0 15px;
}

.locationForm input[type='text'] {
	padding: 1.16em;
	border-left: none;
	border-right: none;
	border-top: 1px solid var(--prim-light);
	border-bottom: 1px solid var(--prim-light);
	font-weight: 700;
}
.locationForm input[type='text']:active,
.locationForm input[type='text']:focus {
	outline: 1px solid var(--prim-clr);
}

.locationForm button {
	padding: 1.157em;
	background-color: var(--prim-clr);
	border: 1px solid var(--prim-clr);
	border-radius: 0 15px 15px 0;
	color: white;
	font-weight: bold;
}

.locationForm .btn i {
	display: none;
}

/*   FILTERS  */

.filter-mobile {
	display: none;
}
.btns-cont {
	display: flex;
	width: 914px;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.btns-cont span {
	font-size: 18px;
}

.btns-cont button {
	padding: 1em;
	background-color: transparent;
	border: 2px solid var(--prim-light);
	border-radius: 25px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 300ms linear;
	font-weight: bold;
}
.btns-cont button:hover {
	background-color: var(--sec-clr);
}

.btns-cont button i {
	color: var(--prim-clr);
	margin-right: 0.8em;
}
.info {
	margin-top: 1em;
	display: flex;
	align-items: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.info span {
	margin-right: 0.5em;
	width: 30px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--prim-light);
	border-radius: 50%;
	color: var(--prim-clr);
}

.info span i {
	font-size: 0.8em;
}

/*  Section/Offers   */
.section-cont {
	margin: auto;
	max-width: 1342px;
	display: flex;
	margin-top: 1.5em;
	justify-content: space-between;
}
.section-cont section {
	background-color: var(--prim-light);
	border-radius: 20px;
	padding: 47px 40px;
}

/* Hébergements */
.hebergements {
	width: 66.366%;
}

.hebergements h2 {
	margin-bottom: 31px;
}

.hebergements .hebergements__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 25px 5px;
}

.hebergements .card {
	background-color: white;
	border-radius: 20px;
	width: 29.61%;
	box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
}

.hebergements .card .card__img {
	max-height: 124px;
	overflow: hidden;
	display: flex;
}

.hebergements .card img {
	width: 100%;
	border-radius: 20px 20px 0 0;
	border: 5px solid white;
	object-fit: cover;
}

.hebergements .card__content {
	padding: 0.6875em 1em;
}

.hebergements .card__content h3 {
	margin-bottom: 8px;
}

.hebergements .card__content p {
	margin-bottom: 8px;
}

.hebergements .hebergements__plus {
	margin-top: 35px;
	font-size: 18px;
	font-weight: 700;
	padding-left: 30px;
}

/*  utility classes   */
.blue-star {
	color: var(--prim-clr);
}

.gray-star {
	color: var(--prim-light);
}

/* populaires */
.populaire {
	width: 31.675%;
}

.populaire .populaire__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 31px;
}

.populaire .populaire__title i {
	color: var(--prim-clr);
}

.populaire .card {
	background-color: white;
	border-radius: 20px;
	width: 100%;
	display: flex;
	min-height: 144px;
	box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
	max-height: 144px;
}

.populaire .card .card__img {
	overflow: hidden;
	display: flex;
	width: 137px;
	min-width: 35%;
	max-height: fit-content;
}

.populaire .card img {
	width: 100%;
	border-radius: 20px 0 0 20px;
	border: 5px solid white;
	object-fit: cover;
}

.populaire .card__content {
	padding: 0.6875em 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*
.populaire .card__content h3 {
	margin-bottom: 8px;
}

.populaire .card__content p {
	margin-bottom: 8px;
}

.populaire .card__stars {
	margin-top: 34px;
}

*/
.populaire .populaire__container {
	display: flex;
	flex-direction: column;
	gap: 33px;
}

/* activites   */

.activites {
	margin-top: 44px;
}
.activites h2 {
	margin-bottom: 24px;
	padding-left: 1.5em;
}

.activites .activites__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-left: 1em;
	padding-right: 1em;
}
.activites .card {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	max-width: 302px;
	margin-bottom: 60px;
	box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
}

.activites .card__img {
	height: 440px;
	display: flex;
	justify-content: center;
}

.activites .card__content {
	position: absolute;
	display: flex;
	align-items: center;
	height: 56px;
	background-color: white;
	bottom: 0;
	width: 100%;
	padding: 1.2em;
}

/*  footer  */
.footer {
	display: flex;
	justify-content: space-around;
	background-color: var(--prim-light);
	padding-top: 44px;
}

.footer h3 {
	margin-bottom: 22px;
}

.footer li {
	margin-bottom: 1em;
}

/*   TABLETTE      */
@media screen and (max-width: 992px) {
	.container {
		padding-left: 2em;
		padding-right: 2em;
	}
	.btns-cont {
		width: 100%;
	}
	.section-cont {
		flex-direction: column;
	}
	/*  hebergements */
	.hebergements {
		width: 100%;
		padding: 30px;
	}
	.hebergements .card__content {
		padding: 0.2em 1em;
	}
	.hebergements .card__content h3 {
		margin-bottom: 4px;
	}
	.hebergements .card__content p {
		margin-bottom: 2px;
	}
	.hebergements .hebergements__container {
		justify-content: space-around;
		gap: 15px 5px;
	}
	.hebergements .card {
		max-height: 199px;
	}
	.hebergements .card .card__img {
		max-height: 62.315%;
	}
	/*  populaire     */
	.populaire {
		width: 100%;
		margin-top: 60px;
		padding: 30px;
	}
	.populaire .populaire__container {
		flex-direction: row;
		justify-content: space-between;
	}
	.populaire .card {
		width: 263px;
	}
	.populaire .card .card__img {
		max-width: 106px;
		width: 100%;
		min-width: 40%;
		max-height: 144px;
	}
	.populaire .card__content h3 {
		font-size: 14px;
	}
	.populaire .card__content p {
		font-size: 14px;
	}

	/*  activites    */
	.activites .card {
		max-width: 182px;
		max-height: 267px;
	}
	.activites .card__img {
		height: 267px;
	}
	.activites .card__content {
		font-size: 14px;
	}
	/*  footer  */
	.footer {
		margin-left: 2em;
		margin-right: 2em;
	}
}

/*    MOBILE      */
@media screen and (max-width: 768px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.navBar {
		flex-direction: column;
		height: auto;
	}
	.navBar a {
		justify-content: center;
		height: 55px;
	}
	.navBar ul {
		justify-content: space-between;
		width: 100%;
	}
	.navBar li a {
		border-bottom: 2px solid var(--prim-light);
		height: 60px;
	}
	.navBar a:hover {
		border-top: 2px solid transparent;
		border-bottom: 2px solid var(--prim-clr);
	}

	h1 {
		margin-top: 1em;
		padding-left: 0.8em;
		padding-right: 0.8em;
		font-size: 22px;
	}
	header p {
		padding-left: 0.8em;
		padding-right: 0.8em;
		margin-bottom: 1em;
	}
	.location__word {
		display: none;
	}
	.locationForm {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.locationForm input[type='text'] {
		width: 240px;
	}

	.btns-cont {
		padding: 0.8em;
		gap: 1em 0;
	}
	.form-control .btn i {
		background-color: transparent;
		padding: 0.5em;
		display: block;
	}
	.filter-mobile {
		display: block;
		padding-left: 1em;
	}
	.btns-cont {
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 1em;
	}
	.btns-cont span {
		display: none;
	}
	.btns-cont button {
		padding: 0.2em;
		justify-content: flex-start;
		align-items: center;
		width: 160px;
		height: 50px;
		align-content: center;
	}

	.btns-cont button i {
		margin-left: 0.8em;
		margin-right: 0.4em;
	}

	.info {
		padding-left: 0.5em;
		padding-right: 0.5em;
		align-items: flex-start;
	}

	.section-cont {
		flex-direction: column-reverse;
	}

	.populaire {
		border-radius: 0;
		padding: 1em;
		margin-top: 1em;
	}
	.populaire .populaire__title {
		margin-bottom: 1em;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	.populaire .populaire__container {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	.populaire .card {
		max-width: 100%;
		width: 100%;
	}

	.hebergements {
		background-color: transparent;
		padding: 1em;
	}

	.hebergements h2 {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 0.2em;
	}

	.hebergements .hebergements__plus {
		display: none;
	}

	.hebergements .card {
		max-width: 100%;
		width: 100%;
	}

	.activites h2 {
		width: 140px;
		margin-bottom: 2px;
		padding-left: 0.8em;
	}
	.activites .activites__container {
		flex-direction: column;
		align-items: center;
		gap: 24px 0px;
	}
	.activites .card {
		max-width: 100%;
		width: 100%;
		max-height: 243px;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		align-content: center;
	}
	.activites .card .card__img {
		height: auto;
		width: 100%;
	}
	.activites .card img {
		width: 100%;
		object-fit: cover;
	}
	.footer {
		margin-left: 0;
		margin-right: 0;
		padding: 1.5em;
		display: flex;
		flex-direction: column;
	}
}
